[submodule ".config/sddm/sugar-candy"]
	path = .config/sddm/sugar-candy
	url = git@github.com:Kangie/sddm-sugar-candy.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:IoannisNezis/kickstart.nvim.git
