$darkgrey: #20252b;
$black: #000000;
$white: #ffffff;
$green: #14F5A2;
$yellow: #FEEE00;
$red: #FB2632;
$purple: #a020f0;
$gray: #64748b;
$primary: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* {
  all: unset;
  font-family: feather;
}

.layout-box {
  font-family: Phosphor, Koulen;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5em;
  color: rgba($surface-fg, 0.8);
}

.bar {
  margin-top: 5px;
  padding: 3px 10px;
  border-radius: 7px;
  // background-color: rgba($color: $darkgrey, $alpha: 0.9);
}

.menu {
  margin-top: 5px;
  padding: 9px;
  border-radius: 10px;
  background-color: rgba($color: $darkgrey, $alpha: 0.9);
}

.button {
  color: rgba($color: $red, $alpha: 0.8);
  background-color: rgba($color: $black, $alpha: 0.4);
  font-size: 20px;
  border-radius: 8px;

  &:hover {
    color: yellow;
    color: $red;
    background-color: rgba($color: $black, $alpha: 0.5);
  }
}

.debug {
  border: 1px solid $surface-red;
}

.rounded {
  border-radius: 5px;
}

.rounded-lg {
  border-radius: 10px;
}

.rounded-e-lg {
  border-radius: 0px 10px 10px 0px;
}

.rounded-s-lg {
  border-radius: 10px 0px 0px 10px;
}

.bg-gray {
  background-color: rgba($color: $gray, $alpha: 1.0);
}

.bg-black {
  background-color: rgba($color: $black, $alpha: .5);
}

.bg-red {
  background-color: rgba($color: $red, $alpha: 1.0);
}

.bg-purple {
  background-color: rgba($color: $purple, $alpha: 0.7);
}

.bg-green {
  background-color: rgba($color: $green, $alpha: 1.0);
}

.bg-yellow {
  background-color: rgba($color: #ffcd05, $alpha: 1.0);
}


.workspace-indicator {
  background-color: rgba($color: $darkgrey, $alpha: 1.0);
  border-radius: 20px;
  padding: 4px 4px;
  margin: 0px 3px;

  &.active {
    background-color: rgba($green, 0.7);
    padding: 6px 6px;
    border-radius: 20px;
  }
}

.clock_time {
  font-family: DaddyTimeMono;
  padding: 0px 10px;
  // background-color: rgba($color: $surface-grey, $alpha: 0.9);
  border-radius: 10px;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.text-color-yellow {
  color: #FEEE00;
}
