$surface-darkgrey: #20252b;
$primary: #20252b;
$secondary: #ffffff;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* {
  all: unset;
  font-family: feather;
  font-family: DaddyTimeMono NF;
}

.layout-box {
  font-family: Phosphor, Koulen;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5em;
  color: rgba($surface-fg, 0.8);
}

.bar {
  margin-top: 10px;
  padding: 0px 10px;
  border-radius: 7px;
  background-color: rgba($color: $surface-darkgrey, $alpha: 0.9);
}

.debug {
  background-color: rgba($color: $surface-red, $alpha: 1.0);
  border: 1px solid $surface-darkgrey;
}

.workspace-indicator {
  background-color: rgba($color: $surface-grey, $alpha: 1.0);
  border-radius: 40px;
  border: 3px solid #000000;
  padding: 6px;
  margin-right: 4px;
  &.active {
   background-color: rgba($secondary, 0.7);
  }
}


.clock_minute {
  padding: 10px;
  // background-color: rgba($color: $surface-grey, $alpha: 0.9);
  border-radius: 10px;
}
